[Desktop Entry]
Type=Service
Icon=office-chart-area-focus-peak-node
Exec=kcmshell5 kcm_whoopsie

X-KDE-Library=kcm_whoopsie
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=applications
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm-whoopsie
X-KDE-Keywords=privacy,diagnostic,crash,report,canonical,metric,whoopsie
X-KDE-Keywords[ast]=privacidá,diagnósticu,diagnosticar,cayida,cayer,informar,informe,canonical,métrica,whoopsie
X-KDE-Keywords[bs]=privatnost,dijagnostika,padovi,izvještaj,canonical,metrika,whoopsie
X-KDE-Keywords[ca]=privacitat,diagnòstic,fallada,informe,canonical,mètrica,whoopsie
X-KDE-Keywords[de]=Privatsphäre,Diagnose,Absturz,Report,Canonical,Metrisch,Hoppla,whoopsie,Metrik,Crash
X-KDE-Keywords[en_GB]=privacy,diagnostic,crash,report,canonical,metric,whoopsie
X-KDE-Keywords[es]=privacidad,diagnóstico,cuelgue,informe,canonical,métrica,whoopsie
X-KDE-Keywords[fi]=privacy,diagnostic,crash,report,canonical,metric,whoopsie,yksityisyys,tilastot,diagnostiikka,kaatuminen
X-KDE-Keywords[fr]=vie privée,diagnostic,incident,rapport,canonical,mesure,whoopsie
X-KDE-Keywords[gl]=privacidade,diagnóstico,fallo,informar,canonical,métrico,whoopsie
X-KDE-Keywords[hr]=privatnost,dijagnostika,rušenje,prijavi,canonical,mjere,whoopsie
X-KDE-Keywords[hu]=adatvédelem;diagnosztika;hiba;összeomlás;jelentés;canonical;metrika;whoopsie
X-KDE-Keywords[id]=privacy,diagnostic,crash,report,canonical,metric,whoopsie;diagnosa;laporan;metriks
X-KDE-Keywords[it]=privacy,diagnostica,errore,crash,rapporto,canonical,misurazione,whoopsie
X-KDE-Keywords[ms]=kerahsiaan,diagnostik,kerosakan,laporan,canonical,metrik,whoopsie
X-KDE-Keywords[nl]=privacy,diagnostiek,crash,rapport,canoniek,metrisch,whoopsie
X-KDE-Keywords[oc]=vida privada,diagnostic,incident,rapòrt,canonical,mesura,whoopsie
X-KDE-Keywords[pa]=ਪਰਾਈਵੇਸੀ,ਪਰਦੇਦਾਰੀ,ਕਰੈਸ਼,ਰਿਪੋਰਟ,ਮੈਟਰਿਕਸ,ਕਨੋਨੀਕਲ
X-KDE-Keywords[pl]=prywatność,diagnostyka,awaria,zgłoszenie,canonical,statystyka,whoopsie
X-KDE-Keywords[pt]=privacidade,diagnóstico,crash,relatório,canonical,metric, whoopsie
X-KDE-Keywords[pt_BR]=privacidade,diagnóstico,falha,relatório,canonical,métrica,whoopsie
X-KDE-Keywords[ru]=privacy,diagnostic,crash,report,canonical,metric,whoopsie,приватность,конфиденциальность,диагностика,сбой,отчёт,Canonical,метрика
X-KDE-Keywords[sk]=súkromie,diagnostika,pád,oznámenie,canonical,metrika,whoopsie
X-KDE-Keywords[sv]=integritet,diagnostik,krasch,rapport,canonical,mätetal,whoopsie
X-KDE-Keywords[tr]=gizlilik,tanılama,çökme,rapor,canonical,metrik,whoopsie
X-KDE-Keywords[uk]=privacy,diagnostic,crash,report,canonical,metric,whoopsie,конфіденційність,діагностика,аварія,звіт,канонікал,метрика,упсі
X-KDE-Keywords[uz]=maxfiylik, tashxis, buzilish, xabar,canonical,metrik,whoopsie
X-KDE-Keywords[x-test]=xxprivacyxx,xxdiagnosticxx,xxcrashxx,xxreportxx,xxcanonicalxx,xxmetricxx,xxwhoopsiexx
X-KDE-Keywords[zh_CN]=privacy,diagnostic,crash,report,canonical,metric,whoopsie,隐私,诊断,崩溃,回报,规范,指标
Categories=Qt;KDE;X-KDE-settings-looknfeel;

Name=Diagnostics
Name[ast]=Diagnósticos
Name[bs]=Dijagnostika
Name[ca]=Diagnòstics
Name[cs]=Diagnostika
Name[de]=Fehlerdiagnose
Name[en_GB]=Diagnostics
Name[es]=Diagnósticos
Name[fi]=Tilastot
Name[fr]=Diagnostics
Name[gd]=Diagnosachd
Name[gl]=Diagnósticos
Name[hr]=Dijagnostika
Name[hu]=Diagnosztika
Name[hy]=Դիագնոստիկա
Name[id]=Diagnosa
Name[it]=Diagnostica
Name[km]=ការ​ពិនិត្យ​មើល
Name[ko]=진단
Name[lv]=Diagnostika
Name[ms]=Diagnostik
Name[nl]=Diagnostiek
Name[oc]=Diagnostics
Name[pa]=ਜਾਂਚ-ਪੜਤਾਲ
Name[pl]=Diagnostyka
Name[pt]=Diagnósticos
Name[pt_BR]=Diagnósticos
Name[ru]=Диагностика
Name[sk]=Diagnostika
Name[sv]=Diagnostik
Name[tr]=Tanılama
Name[ug]=دئاگنوزچى
Name[uk]=Діагностика
Name[uz]=Tashxis
Name[x-test]=xxDiagnosticsxx
Name[zh_CN]=诊断
Comment=Automatic Crash and Metrics Reporting
Comment[ast]=Informe automáticu de cayíes y métriques
Comment[bs]=Automatsko izvještavanje o padovima sistema i metrici
Comment[ca]=Informes automàtics de fallades i mètriques
Comment[de]=Automatischer Absturz- und Metrikenbericht
Comment[en_GB]=Automatic Crash and Metrics Reporting
Comment[es]=Informes de fallos y medidas automáticos
Comment[fi]=Automaattinen kaatumis- ja käyttöraportointi
Comment[fr]=Rapports automatiques d'incidents et de mesures
Comment[gl]=Informes automáticos de fallos e medicións
Comment[hr]=Automatski izvještaj rušenja i mjerenja
Comment[hu]=Automatikus hiba- és metrikajelentés
Comment[id]=Pelaporan Otomatis Metriks dan Kegagalan
Comment[it]=Rapporto automatico di errori e misurazioni
Comment[ms]=Pelaporan Kerosakan dan Metrik Automatik
Comment[nl]=Automatische rapportage van crash en gemeten waarden
Comment[oc]=Rapòrts automatics d'incidents e de mesuras
Comment[pa]=ਆਟੋਮੈਟਿਕ ਕਰੈਸ਼ ਅਤੇ ਮੈਟਰਿਕਸ ਰਿਪੋਰਟਿੰਗ
Comment[pl]=Samoczynne zgłaszanie awarii i danych statystycznych
Comment[pt]=Relatórios Automáticos de Crash e Metrics
Comment[pt_BR]=Relatório automático de métricas e falhas
Comment[ru]=Автоматические отчёты о сбоях и о статистике использования
Comment[sk]=Automatické oznamovanie pádov a metrík
Comment[sv]=Automatisk rapportering av krascher och mätetal
Comment[tr]=Otomatik Çökme ve Metrik Raporlama
Comment[uk]=Автоматичне звітування щодо аварій і метрики
Comment[uz]=Avtomatik Buzlish va Metrik Xabar Berish
Comment[x-test]=xxAutomatic Crash and Metrics Reportingxx
Comment[zh_CN]=自动崩溃和指标报告
