[Desktop Entry]
Type=Service
Icon=office-chart-area-focus-peak-node
Exec=kcmshell5 kcm_whoopsie

X-KDE-Library=kcm_whoopsie
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=applications
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm-whoopsie
X-KDE-Keywords=privacy,diagnostic,crash,report,canonical,metric,whoopsie
Categories=Qt;KDE;X-KDE-settings-applications;

Name=Diagnostics
Comment=Automatic Crash and Metrics Reporting
